/*Aquí se personaliza todo las etiquetas HTML de las paginas*/
*{
    margin: 0%;
    padding: 0%;
}
/*aquí oculto el icono de hambergueza*/
#activadormenu{
    display: none;
}
#hamberguesa{
    font-size: 30px;
    color: aliceblue;
    /*padding: 900px;*/
    cursor: pointer;
}
/*Aquí se personaliza el cuerpo, la etiqueta body*/
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
}
/*Aquí se personaliza la cabecera de la página*/
header{
    background-color: rgb(216, 125, 65);
    color: white;
    text-align: center;
}
/*Aquí se personaliza el menú de la página*/
#menu{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}
/*Aquí se personaliza los botones*/
#menu a{
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
}
/*cambio de color de los botones*/
#menu a:hover{
    background-color: chocolate;
    transform: translateY(-5px)
}
/*Aquí voy a personalizar el contenedor*/
#contenedor{
    display: flex;
    min-height: 400px;
    height: 100vh;
}
/*Aquí personalizo publicidad 1 y 2*/
#publicidad{
    width: 20%;
    background-color: rgb(252, 190, 99);
    padding: 20px;
}
/*Aquí voy a personalizar la sección de contenido*/
#contenido{
    width: 60%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
/*Aquí personalizo el iframe*/
iframe{
    width: 100%;
    height: 100%;
    border: 2px solid #865e30;
    border-radius: 10px;
}
/*Aquí personalizo productos y sercicios*/
#galeria{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    justify-content: center;
}
.prod-serv{
    background-color: #fab163;
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
}
.prod-serv img{
    width: 100%;
    border-radius: 5px;
}
.prod-serv:hover{
    box-shadow: 0px 5px 10px #ce7f18;
}
.prod-serv button{
    background-color: #b16004;
    color: #ffffff;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.prod-serv button:hover{
    background-color: #d66e19;
    border: none;
}
/*Aquí voy a personalizar la visión y misión*/
.mis-vis{
    border: 1px solid #d66e19;
    width: 300px;
    border-radius: 30px;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 5px #b16004;
}
/*Aquí personalizo contacto*/
form{
    max-width: 400px;
    margin: auto;
    text-align: left;
}
input, textarea{
    width: 100%;
    padding: 8px;
    margin: 8px 100;
}

button{
    padding: 10px;
    background-color: #b16004;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #ce7f18;
}
/*Aquí personalizo el pie de pagina*/
footer{
    background-color: rgb(216, 125, 65);
    color: white;
    text-align: center;
    padding: 80px;
}

/*Aquí voy a hacer que la pagina sea responsivo con media queries*/
@media (max-width:768px){
    /*aqui muestro el boton de hamburguesa*/
    #hamburguesa{
        display: block;
    }
    #activadormenu:checked + #hamburguesa + #menu{
        display: flex;
    }
    #menu{
        display: none;
        flex-direction: column;
        padding: 0px;
        gap: 1px;
    }
}
#menu a{
    display: flex;
    justify-content: center;
}
#contenedor{
    flex-direction: column;
}
#publicidad,
#contenido{
    width: 100%;
}
iframe{
    height: 600px;
}
#galeria{
    grid-template-columns: repeat(1, auto);
}
